# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/

# VS Code settings
.vscode/

# macOS
.DS_Store

# PyCharm settings
.idea/

# Logs
*.log

# Django specific
*.db
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# Migrations (optional, if you don't want to track)
**/migrations/*.pyc
**/migrations/__pycache__/
